html {
    font-size: 16px;
}

.main-header{
    text-align: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.3rem;
}

p {
    font-size: 1rem;
}

.school-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.school-list__school{
    text-align: center;
    flex-basis: 17%;
    flex-shrink: 1;
    flex-grow: 1;
    margin: 0.2rem;
    padding: 0.2rem;
    border: 1px solid;
    border-radius: 0.4rem;
    background: lightgray;
    overflow: hidden;
    word-wrap: break-word;
}

.school{
    margin: 1rem 0;
}

.school__name{
    font-size: 1.3rem;
    font-weight: bold;
}

.school__name:hover{
    color: blue;
}

.spell-list{
    display: none;
}

.spell__attribute-container{
    margin-left: 0.5rem;
    display: flex;
    flex-direction: row;
    max-width: fit-content;
}
.spell__attribute-container:hover{
    color: blue;
}

.spell__name, .spell__difficult, .spell__category{
    margin: 0 0.5rem;
    font-weight: bold;
}

.spell__description{
    margin: 0.3rem 1.5rem 0.3rem 1.5rem;
    display: none;
}

.spell-name{
    text-align: center;
    font-size: 1.6rem;
    margin: 0.5rem;
}

.spell-flex{
    display: flex;
    flex-direction: row;
    margin: 0.5rem auto;
    max-width: fit-content;
}

.spell_flex__school-name, .spell_flex__difficult, .spell_flex__spell-category {
    margin: 0 1rem;
}