html {
    font-size: 16px;
}

.main-header{
    text-align: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.3rem;
}

p {
    font-size: 1rem;
}

.spell-name{
    text-align: center;
    font-size: 1.6rem;
    margin: 0.5rem;
}



.spell-flex{
    display: flex;
    flex-direction: row;
    margin: 0.5rem auto;
    max-width: fit-content;
}

.spell_flex__school-name, .spell_flex__difficult, .spell_flex__spell-category {
    margin: 0 1rem;
}